body {
    font-family: "Playwrite DE Grund", cursive;
    background-color: rgb(201, 169, 169);
    text-align: center;
    margin: 10px;
}

p {
    color: rgb(90, 52, 52);
}

header {
    border-bottom: solid 4px rgb(158 108 108)
    padding: 20px;
    font-size: 32px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.album {
    width: 30%;
}

.Kanye {
    width: 40%;
}